html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.Experience {
  margin:0;
  padding:0;
}
.HUDElement{
  position: absolute;
  z-index: 2;
}
.BackButton{
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  display: block;
  position: relative;
}

.BackButton:hover{
  opacity: .9;
}
