/*
*Page style setting
*/
html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.Experience {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}
.HUDElement{
  position: absolute;
  z-index: 2;
}

/* 
*back button on top left
*/
.BackButton{
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  display: block;
  position: relative;
}

.BackButton:hover{
  opacity: .9;
}

/*
*Define device min-width for better diaplay and adapts to screen size
*/
@media screen and (min-width: 100px)
{
  .Splash {
    width: 150px;
    height: 150px;
    top: 25%;
    left: 20%;
  }
}
@media screen and (min-width: 360px)
{
  .Splash {
    width: 300px;
    height: 300px;
    top: 25%;
    left: 12%;
  }
}

@media screen and (min-width: 768px)
{
  .Splash {
    width: 650px;
    height: 650px;
    top: 25%;
    left: 20%;
  }
}

@media screen and (min-width: 1200px)
{
  .Splash {
    width: 750px;
    height: 750px;
    top: 20%;
    left: 35%;
  }
}
/*
* Style for loading page
*/
.Splash {
  width: 350px;
  height: 350px;
  top: 25%;
  left: 8%;
  position: absolute;
  z-index: 3;
}

.SplashScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: linear-gradient(to right,
  rgba(245, 125, 50, 1) 0%,
  rgba(239, 89, 102,1) 50%);
  color: rgba(18, 3, 29, 1);
}
.Visible {
  visibility: visible;
  opacity: 1;
}

.Hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.progress-bar {
  background-color: #a53f5b;
  position: absolute;
  height: 5px;
  width: 0%;
  position: absolute;
}