.Title {
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
}

.Row {
  display: flex;
  justify-content: space-around;
}

.MenuButton {
    background: rgba(48, 33, 68, 1);
    border: none;
    color: white;
    padding: 2vh 2vw 2vh 2vw;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    border-width: .1em;
    border-style: inset;
    border-color: rgba(165, 63, 91, 1);
    border-radius: 1vw;
    font-family: Helvetica;
    font-weight: bold;
  }

.MenuButton:hover{
  opacity: .9;
}

.Title h1 {
    color: white;
    font-size: 4vw;
    text-shadow: .1vw .1vw rgba(48, 33, 68, 1);
    font-family: Helvetica;
}

.photo {
  height: 70px;
  width: 70px;
  max-width: 100px;
  max-height: 100px;
}

a-scene {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
}

.HUDElement{
  position: absolute;
  z-index: 2;
}

.Experience {
  margin:0;
  padding:0;
}

.AboutPage {
  margin:10px;
  padding:10px;
}

.AboutPhoto {
  width: 325px;
  height: 325px;
}

.AboutPanel {
  margin-top: 80px;
}

/* .BackButton{
  width: 0; 
  height: 0;
  margin: 1vh 1vw 1vh 1vw;
  background-color: transparent;
  border-top: 1.5vh solid transparent;
  border-bottom: 1.5vh solid transparent; 
  border-right: 3vw solid  rgba(165, 63, 91, 1);
  opacity: .8;
  outline:none;
} */

.BackButton{
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  display: block;
  position: relative;
}

.BackButton:hover{
  opacity: .9;
}

.Teleport-Menu {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  width: 90px;
}

.Teleport-Menu-icon {
  opacity: .75;
}

.Teleport-Menu-icon:hover {
  opacity: 1.0;
}

.Teleport-Menu button{
  float: right;
  width: 60px;
  height: 60px;
  border: none;
  background: white;
  border-radius: 10%;
  opacity: .5;
  cursor: pointer;
  color: black;
  margin-bottom: 5px;
  outline: none;
}

.Teleport-Sub-Menu {
  display: block;
  border-radius: 5%;
}

/*
* Code for the following collapse and expand animations for menu buttons found at
* https://stackoverflow.com/questions/52377215/smoothen-accordion-collapse-css3-keyframes-animation
*/

.Collapse {
  display: none;
}

@keyframes open {
  0% {
    display: none;
    transform: translate3d(0, -1rem, 0);
    opacity: 0;
  }
  1% {
    display: block;
    transform: translate3d(0, -1rem, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.Expand {
  animation: open 0.2s ease-in-out;
  display: block;
}

.Teleport-Sub-Menu button {
  display: block;
  margin:0px;
  width: 85px;
  height: 60px;
  background: white;
  border-radius: 0%;
  opacity: .5;
  cursor: pointer;
  color: black;
  outline: none;
}

.TextBox {
  position: absolute;
  z-index: 2;
  bottom: 1vh;
  right: 5%;
  width: 90%;
}

.TextBoxCollapsible {
  background-color:black;
  cursor: pointer;
  padding: 18px;
  width: 30%;
  border: none;
  outline: none;
  font-size: 1em;
  opacity: .75;
  border-radius: 5%;
  color: white;
}

.TextBoxCollapsible:hover {
  opacity: .90;
}

.TextBoxContent {
  display: block;
  background-color: #1a1a1a;
  color: white;
  opacity: .8;
  width: 100%;
  border-radius: 5%;
}

.TextExpand {
  display: block;
  animation: textOpen 0.2s ease-in-out;
}

.TextCollapse {
  display: none;
}

@keyframes textOpen {
  0% {
    display: none;
    transform: translate3d(0, 1rem, 0);
  }
  1% {
    display: block;
    transform: translate3d(0, 1rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.githubWrapper {
  font-size: 70px;
  color: black;
}

.githubWrapper:hover {
  cursor: pointer;
  color: rgba(48, 33, 68, 1);
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid rgba(48, 33, 68, 1);
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: rgba(48, 33, 68, 1);
  border-color:  rgba(165, 63, 91, 1);
  color: white;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  background-color: white;
}