.MenuButton {
    background: rgba(48, 33, 68, 1);
    border: none;
    color: white;
    padding: 2vh 2vw 2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    border-width: .1em;
    border-style: inset;
    border-color: rgba(165, 63, 91, 1);
    border-radius: 1vw;
    font-family: Helvetica;
    font-weight: bold;
  }

h1 {
    color: white;
    font-size: 4vw;
    text-shadow: .1vw .1vw rgba(48, 33, 68, 1);
    font-family: Helvetica;
}

.photo {
  height: 8vw;
  width: 8vw;
  max-width: 100px;
  max-height: 100px;
}

a-scene {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
}

.HUDElement{
  position: absolute;
  z-index: 2;
}

.Experience {
  margin:0;
  padding:0;
}

.BackButton{
  width: 0; 
  height: 0;
  margin: 1vh 1vw 1vh 1vw;
  background-color: transparent;
  border-top: 1.5vh solid transparent;
  border-bottom: 1.5vh solid transparent; 
  border-right: 3vw solid  rgba(165, 63, 91, 1);
  opacity: 80%;
  outline:none;
}

.Teleport-Menu button{
  width: 70px;
  height: 25px;
}

.Teleport-Menu {
  position: absolute;
  z-index: 2;
  top: 2px;
  right: 2px;
}

.Teleport-Sub-Menu {
  display: block;
}
.Teleport-Sub-Menu button {
display: block;

}