/*
* The navigation button to move the 3D scene on asteroid page and spacecraft page
*/
.Nav-Buttons-Grid {
  position: absolute;
  z-index: 2;
  left: 40%;
  bottom: 5%
}
.Nav-Container {
  justify-content: center;
  display:flex;
}
.Nav-Button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  border:none;
  overflow: hidden;
  outline: none;
}

.Nav-Button-Icon-Left {
  width: 15px;
  height: 15px
}

.Nav-Button-Icon-Right {
  width: 15px;
  height: 15px;
  transform: scaleX(-1);
}

.Nav-Button-Icon-Up {
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
}

.Nav-Button-Icon-Down {
  width: 15px;
  height: 15px;
  transform: rotate(270deg);
}

/*
*Define device min-width for better diaplay and adapts to screen size
*/
@media screen and (min-width: 100px)
{
  .Nav-Buttons-Grid {
    left: 35%;
  }
}
@media screen and (min-width: 360px)
{
  .Nav-Buttons-Grid {
    left: 35%;
  }
}

@media screen and (min-width: 768px)
{
  .Nav-Buttons-Grid {
    left: 45%;
  }

  .Nav-Button {
    width: 60px;
    height: 60px;
  }

  .Nav-Button-Icon-Up {
    width: 25px;
    height: 25px;
  }

  .Nav-Button-Icon-Down {
    width: 25px;
    height: 25px;
  }

  .Nav-Button-Icon-Left {
    width: 25px;
    height: 25px;
  }

  .Nav-Button-Icon-Right {
    width: 25px;
    height: 25px;
  }
}
