/*
* Style for expand and fold the educational blurb on the top right
*/
.Teleport-Menu {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  width: 90px;
}

.Teleport-Menu-Toggle {
  width: 60px;
  height: 60px;
  padding: 2px;
  text-align: center;
}

.Teleport-Menu-icon {
  opacity: .8;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}

.Teleport-Menu button{
  float: right;
  width: 60px;
  height: 60px;
  border: none;
  background: white;
  border-radius: 10%;
  opacity: .5;
  cursor: pointer;
  color: white;
  margin-bottom: 5px;
  outline: none;
}

.Teleport-Menu-Toggle:hover{
  opacity: .9;
}

.Teleport-Sub-Menu {
  display: block;
  border-radius: 5%;
}

.Teleport-Sub-Menu button {
  width: 100px;
  height: 60px;
  border-radius: 0;
  color: #1a1a1a;
  background: white;
}

.Teleport-Sub-Menu button:hover {
  opacity: .9;
}

.Expand {
  animation: open 0.2s ease-in-out;
  display: block;
}

.Collapse {
  display: none;
}
