/*
*Page style setting
*/
.AboutPage {
  margin: 10px;
  padding: 10px;
}
.HUDElement {
  position: absolute;
  z-index: 2;
}

/* 
*back button on top left
*/
.BackButton {
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  display: block;
  position: relative;
}

.BackButton:hover {
  opacity: 0.9;
}

/*
*About Psyche panel style setting
*/
.AboutPanel {
  margin-top: 80px;
}
.AboutPhoto {
  width: 325px;
  height: 325px;
}

.photo {
  height: 70px;
  width: 70px;
  max-width: 100px;
  max-height: 100px;
}

/*
*react style setting
*The style of button will be changed when the user selects it
*
*/
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid rgba(48, 33, 68, 1);
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: rgba(48, 33, 68, 1);
  border-color: rgba(165, 63, 91, 1);
  color: white;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
.react-tabs__tab-panel h2,
.react-tabs__tab-panel h3 {
  text-align: center;
  
}
