.AboutPage {
  margin:10px;
  padding:10px;
}

.HUDElement{
  position: absolute;
  z-index: 2;
}

.BackButton{
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  display: block;
  position: relative;
}

.BackButton:hover{
  opacity: .9;
}

.AboutTeamPanel {
  margin-top: 10px;
}

.person{
  margin: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*support cell phone*/
@media (min-width: 100px)
{
  .person p{margin-left: 7%;
    font-size: 13px;}
  .personImg img{width:70%;
    height:70%;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: -10%;}
}
@media (min-width: 360px)
{
  .person p{margin-left: 0%;
    font-size: 17px;}
  .personImg img{width:85%;
    height:85%;
  margin-left: 7%;
  margin-right: 20%;
  margin-top: -20%;}
}
/*support ipad size*/
@media (min-width: 768px)
{
  .person p{margin-left: 10%;
    font-size: 27px;}
  .personImg img{width:70%;
    height:70%;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 10%;}
}
/*support pc size*/
@media (min-width: 1200px)
{
  .person p{  margin-right: 4%;
    margin-left: 8%;
    font-size: 23px;}
  .personImg img{width:60%;
    height:60%;
    margin-left: 19%;
    margin-right: 20%;
    margin-top: 10%;}
}

.text{
  font-family: 'Helvetica';

}


.person:nth-child(2n){
  flex-direction:row-reverse
}
