.MenuButton {
  background: rgba(48, 33, 68, 1);
  border: none;
  color: white;
  padding: 2vh 2vw 2vh 2vw;
  min-width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  border-width: .1em;
  border-style: inset;
  border-color: rgba(165, 63, 91, 1);
  border-radius: 1vw;
  font-weight: bold;
}

.MenuButton:hover{
  opacity: .9;
}

.photo {
  height: 70px;
  width: 70px;
  max-width: 100px;
  max-height: 100px;
}

.Title {
  text-align: center;
  padding: 20px;
  color: white;
}

.Row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.Row:last-child {
  margin-bottom: 50px;
}
