/*
* Style for main interface scence selector. 
* Includes styles of bakeground, button, photo, text
*/
.MenuButton {
  background: rgba(48, 33, 68, 1);
  border: none;
  color: white;
  padding: 2vh 2vw 2vh 2vw;
  min-width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  border-width: .1em;
  border-style: inset;
  border-color: rgba(165, 63, 91, 1);
  border-radius: 1vw;
  font-weight: bold;
}

.MenuButton:hover{
  opacity: .9;
}

.photo {
  height: 70px;
  width: 70px;
  max-width: 100px;
  max-height: 100px;
}

.Title {
  text-align: center;
  padding: 20px;
  color: white;
}

.Row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.Row:last-child {
  margin-bottom: 50px;
}

.Disclaimer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left,
  rgba(245, 125, 50, 1) 0%,
  rgba(239, 89, 102,1) 50%);
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  
}

.Disclaimer p, h3{
  margin: 10px 0px;
}

.DisclaimerButton {
  display: flex;
  width: 70px;
  height: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  font-weight: 600;
  float: right;
}

.DisclaimerButton:hover {
  background-color: black;
  color: white;
}
